# Front End: React



# Back End: Python
back_end/**/__pycache__/
back_end/*.py[oc]
back_end/.venv
back_end/run*.py
back_end/run*.sh
back_end/!scripts/**
back_end/scripts/**/**__pycache__**
back_end/configs/

# Others
nohup*
slurm*.out
documents/
